<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CsvFilePath" value="csv_file_200.csv"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="mina97@ethereal.email">
        <network host="smtp.ethereal.email" password="9gwZB43UAeBThEJV8X" port="587" userName="mina97@ethereal.email"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>